<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="LOG_PATTERN">[%level] %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="stdout">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="true">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>