## {{name}}
{{{markdown}}}

{{#scm}}
### SCM: {{scm}}  
{{/scm}}

### Statement(s): {{statements_len}}
{{#statements}}
#### {{index}}. {{label}}
{{{markdown}}}  
{{#resolvedBy}}
**Resolved by**: {{resolvedBy}}  
{{/resolvedBy}}
{{/statements}}