## {{name}}
This is a sample description for this INV.

### SCM
{{#scm}}
Using an SCM ? **Yes**  
SCM name: {{scm}}  
{{/scm}}
{{^scm}}
Using an SCM ? **No**  
{{/scm}}

### {{statements_len}} statement(s):
{{#statements}}
#### {{index}}. {{label}}
{{markdown}}  
{{#resolvedBy}}
**Resolved by**: {{resolvedBy}}  
{{/resolvedBy}}
{{/statements}}