## {{name}}
{{{markdown}}}
{{#repo}}
### REPO: {{repo}}  
{{/repo}}
### Statement(s): {{statements_len}}
{{#statements}}
#### {{index}}. {{label}}
{{{markdown}}}  
{{#resolvedBy}}
**Resolved by**: {{resolvedBy}}  
{{/resolvedBy}}
{{/statements}}